.ContentContainer {
  width: auto;
  height: 100vh;
}

.TopBar {
  background-color: #c768c7;
}

.SideBar {
  background-color: whitesmoke;
  width: 25%;
}

.MainContent {
  background-color: darkgrey;
}

.spacer {
  flex: 1 1 auto;
}

mat-list-item.mdc-list-item:hover::before{
  background-color: transparent !important;
}
