.full-width-table {
  width: 100%;
}

.mat-column-name{
  width: 32px;
  border-right: 1px solid lightgrey;
  text-align: center;
}

.sticky {
  top: auto !important;
  right: 20px !important;
  bottom: 20px !important;
  left: auto !important;
  position: fixed !important;
}

tr.row:hover {
  background: whitesmoke;
}

.additional_feature_box {
  width: 100%;
  height: auto;
  background-color: darkgray;
}
