<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <form [formGroup]="form" (ngSubmit)="signup()">
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          required
          formControlName="username"
          [email]="true"
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          formControlName="password"
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          value="Sign Up"
        />
      </div>
      </form>

    </div>
    <div class="redirectToLogin">
      <span
      >Already have an account?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div>
