
.center-content {
  margin: auto;
  width: 30%;
  margin-top: 100px;
}

.center{
  text-align: center;
}

.card {
  min-width: 200px;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

.redirect:hover{
  text-decoration: underline;
  cursor:pointer;
}

.padding{
  padding-top: 30px;
  padding-bottom: 50px;
}

#register_button{
  margin-top: 20px;
}

