<div class="mat-elevation-z8">
  <div class="additional_feature_box" >
    <div>
      <button mat-button matTooltip="Tabelle neuladen" (click)="refresh()"><mat-icon>update</mat-icon></button>
    </div>
  </div>
  <table mat-table class="full-width-table" matSort matSortActive="start" aria-label="Elements" [dataSource]="dataSource">
    <!-- Optional Name Column -->
    <ng-template [ngIf]="forManager">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mitarbeiter</th>
        <td mat-cell *matCellDef="let row">{{(row.user?.lastName || "") + ", " + (row.user?.name || "")}}</td>
      </ng-container>
    </ng-template>

    <ng-container matColumnDef="environmentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maschinentyp</th>
      <td mat-cell *matCellDef="let row">{{row.environmentType}}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bemerkung</th>
      <td mat-cell *matCellDef="let row">{{row.comment}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row" matTooltip="Ablehnungsgrund: {{row.rejectReason}}" [matTooltipDisabled]="row.status != 'REJECTED'">{{row.status}}</td>
    </ng-container>

    <ng-template [ngIf]="forManager">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Aktion</th>
        <td mat-cell *matCellDef="let row">
        <span *ngIf="row.status == Status.REQUESTED">
          <button mat-button matTooltip="Genehmigen" (click)="accept(row.virtualEnvironmentRequestId)" >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-button matTooltip="Ablehnen" (click)="reject(row.virtualEnvironmentRequestId)">
            <mat-icon>cancel</mat-icon>
          </button>
        </span>
        </td>
      </ng-container>
    </ng-template>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editVERequest(row)" class="row"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page">
  </mat-paginator>
</div>

<ng-template [ngIf]="!forManager">
  <ng-container>
    <button mat-raised-button color="accent" (click)="openVEnvironmentDialog()" class="sticky">
      Virtuelle Umgebung beantragen
    </button>
  </ng-container>
</ng-template>
