<!-- new code -->
<!-- Top Bar -->
<mat-toolbar color="accent" style="height: 7%">
  <span>UnternehmenB</span>
  <span class="spacer"></span>
  <button (click)="authService.SignOut()" mat-icon-button matTooltip="Abmelden">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<!-- Body -->

<mat-drawer-container class="ContentContainer" style="height: 93%">

  <!-- Side Bar -->

  <mat-drawer class="SideBar" mode="side" opened>
    <!-- Show user data when logged in -->

    <div *ngIf="authService.userData as user">
      <p>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></p>
      <p>User ID: <strong>{{user.uid}}</strong></p>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
    </div>
  </mat-drawer>

  <!-- Main Content Space -->

  <mat-drawer-content class="MainContent">
    <!--
      <vacation-request-table [forManager]="user?.role == Role.MANAGER"></vacation-request-table>
    -->
    <ng-template [ngIf]="user?.role == Role.EMPLOYEE">
      <virtual-environments-table></virtual-environments-table>
      <mat-divider></mat-divider>
    </ng-template>
    <ve-request-table [forManager]="user?.role == Role.MANAGER"></ve-request-table>
  </mat-drawer-content>
</mat-drawer-container>
