
<div class="center-content">
  <h3>Passwort zurücksetzen</h3>
  <mat-card class="card">
  <p class="text-center">Bitte geben Sie Ihre Email Adresse an, um das Passwort zurückzusetzen.</p>

    <form class="center" [formGroup]="form" (ngSubmit)="authService.ForgotPassword(email.value)">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email Addresse</mat-label>
        <input #email matInput type="email" placeholder="Email" [email]="true" formControlName="email" required>
        <mat-error *ngIf="form.hasError('required','email')">Bitte geben Sie eine Email-Adresse ein</mat-error>
      </mat-form-field>

      <button id="send_button" type="submit" mat-raised-button color="primary">Passwort zurücksetzen</button>

    </form>


  <div class="center padding">
    <span>Zurück? <span class="redirect" routerLink="/sign-in">Zur Anmeldung</span></span>
  </div>
  </mat-card>
</div>


